# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  will be requested for review when someone opens a pull request.
*       @djdarcy

# Core implementation
*.ps1    @djdarcy
*.py    @djdarcy

# Documentation
/docs/   @djdarcy
*.md     @djdarcy

# GitHub CI/CD
/.github/ @djdarcy
